@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');

@font-face {
  font-family: "United Serif";
  font-weight: 100 200;
  font-style: light;
  font-stretch: normal;
  font-display: swap;
  src: url("https://cdn.uoregon.edu/uocdn1/uo-web-design-framework/Universal/stable-assets/fonts/United/UnitedSerifRgLt.woff2") format("woff2"),
    url("https://cdn.uoregon.edu/uocdn1/uo-web-design-framework/Universal/stable-assets/fonts/United/UnitedSerifRgLt.woff") format("woff");
}

@font-face {
  font-family: "United Serif";
  font-weight: 300 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url("https://cdn.uoregon.edu/uocdn1/uo-web-design-framework/Universal/stable-assets/fonts/United/UnitedSerifRgMd.woff2") format("woff2"),
    url("https://cdn.uoregon.edu/uocdn1/uo-web-design-framework/Universal/stable-assets/fonts/United/UnitedSerifRgMd.woff") format("woff");
}

@font-face {
  font-family: "United Serif";
  font-weight: 600 700;
  font-style: heavy;
  font-stretch: normal;
  font-display: swap;
  src: url("https://cdn.uoregon.edu/uocdn1/uo-web-design-framework/Universal/stable-assets/fonts/United/UnitedSerifRgBd.woff2") format("woff2"),
    url("https://cdn.uoregon.edu/uocdn1/uo-web-design-framework/Universal/stable-assets/fonts/United/UnitedSerifRgBd.woff") format("woff");
}

@font-face {
  font-family: "United Serif";
  font-weight: 800 900;
  font-style: very-heavy;
  font-stretch: normal;
  font-display: swap;
  src: url("https://cdn.uoregon.edu/uocdn1/uo-web-design-framework/Universal/stable-assets/fonts/United/UnitedSerifRgHv.woff2") format("woff2"),
    url("https://cdn.uoregon.edu/uocdn1/uo-web-design-framework/Universal/stable-assets/fonts/United/UnitedSerifRgHv.woff") format("woff");
}

@font-face {
  font-family: "United Sans";
  font-weight: 100 200;
  font-style: light;
  font-stretch: normal;
  font-display: swap;
  src: url("https://cdn.uoregon.edu/uocdn1/uo-web-design-framework/Universal/stable-assets/fonts/United/UnitedSansRgLt.woff2") format("woff2"),
    url("https://cdn.uoregon.edu/uocdn1/uo-web-design-framework/Universal/stable-assets/fonts/United/UnitedSansRgLt.woff") format("woff");
}

@font-face {
  font-family: "United Sans";
  font-weight: 300 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url("https://cdn.uoregon.edu/uocdn1/uo-web-design-framework/Universal/stable-assets/fonts/United/UnitedSansRgMd.woff2") format("woff2"),
    url("https://cdn.uoregon.edu/uocdn1/uo-web-design-framework/Universal/stable-assets/fonts/United/UnitedSansRgMd.woff") format("woff");
}

@font-face {
  font-family: "United Sans";
  font-weight: 600 700;
  font-style: heavy;
  font-stretch: normal;
  font-display: swap;
  src: url("https://cdn.uoregon.edu/uocdn1/uo-web-design-framework/Universal/stable-assets/fonts/United/UnitedSansRgBd.woff2") format("woff2"),
    url("https://cdn.uoregon.edu/uocdn1/uo-web-design-framework/Universal/stable-assets/fonts/United/UnitedSansRgBd.woff") format("woff");
}

@font-face {
  font-family: "United Sans";
  font-weight: 800 900;
  font-style: very-heavy;
  font-stretch: normal;
  font-display: swap;
  src: url("https://cdn.uoregon.edu/uocdn1/uo-web-design-framework/Universal/stable-assets/fonts/United/UnitedSansRgHv.woff2") format("woff2"),
    url("https://cdn.uoregon.edu/uocdn1/uo-web-design-framework/Universal/stable-assets/fonts/United/UnitedSansRgHv.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body {
  background: #363B49;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

html {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans';
  color: #222;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  position: fixed;
  top: 50px;
  /* Offset the canvas below the navbar */
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  /* Adjust canvas height to fill the rest of the viewport */
  z-index: -1;
  /* Ensure canvas stays behind navbar */
}

article {
  display: flex;
  justify-content: center;
}

.nav-bar {
  width: 100%;
  position: fixed;
  background-color: #363B49;
  top: 0;
  z-index: 1;
}

nav {
  display: flex;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  font-family: Open Sans;
  align-items: center;
  justify-content: center;
  max-height: 50px;
}

nav ul {
  display: flex;
  list-style-type: none;
  width: 100%;
  z-index: 1;
  /* Makes sure navbar is above canvas */
  user-select: none;
  justify-content: center;
  align-items: center;
  margin: 5px
}

.corner-logo {
  width: 40px;
  filter: invert();
  margin-right: 15px;
}

nav ul a {
  color: white;
  text-decoration: none;
  transition: color 0.05s ease-in-out;
  margin: 0px 15px 0px 15px;
}

nav a:hover {
  color: rgb(255, 217, 0);
}

@media(max-width: 600px) {

  nav ul {
    font-size: 15px;
    align-items: center;
    padding: 0;
  }

  nav ul a {
    margin: 0px 10px 0px 10px;
    font-weight: bold;
  }
}

.content {
  background-color: white;
  max-width: 1200px;
  margin: auto;
  padding: 82px;
}

@media(max-width: 600px) {
  .content {
    padding: 15px;
    padding-bottom: 25px;
    margin-top: 50px;
  }
}

.banner {
  border: solid 5px #B5B4B4;
  border-bottom: solid 10px #B5B4B4;
  padding: 25px 15px 25px 15px;
  text-align: center;
}

.logo {
  width: 200px;
}

.banner h1 {
  font-size: 35pt;
  font-family: United Sans;
  margin: 10px 0px 0px 0px;
}

.banner .splash-text {
  font-size: 75pt;
  font-weight: 800;
}

@media(max-width: 600px) {
  .banner {
    padding: 10px 5px 10px 5px;
  }

  .logo {
    width: 100px;
  }

  .banner h1 {
    font-size: 20pt;
  }

  .banner .splash-text {
    font-size: 28pt;
  }
}

h2 {
  font-family: Red Hat Mono;
  font-weight: 600;
  font-size: 20pt;
}

p {
  margin: 0px 30px 0px 30px;
}

.grid-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-content: center;
  gap: 45px;
  padding: 15px;
}

.grid-parent h3 {
  font-size: 18pt;
  font-weight: 800;
  font-family: United Sans;
  margin: 0px 0px 10px 0px;
}

.grid-1,
.grid-2,
.grid-3 {
  max-width: 308px;
  min-height: 230px;
  padding: 20px;
  border: solid 5px #D1D3D4;
  justify-content: center;
}


.grid-parent p {
  margin: 0px;
  font-size: 15pt;
}

@media(max-width: 600px) {
  .grid-parent {
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-parent h3 {
    font-size: 18pt;
  }

}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-style: italic;
  margin: 15px;
}

footer .social-icons {
  gap: 20px;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

footer .icon-1,
footer .icon-2,
footer .icon-3 {
  flex-direction: row;
  width: 50px;
  justify-content: center;
  align-items: center;
}

/* Capture the Flag styling ------------------------------------------*/

.title {
  font-family: United Sans;
  font-weight: 800;
  font-size: 50px;
  justify-self: center;
  text-align: center;
}

.dropdown-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

details {
  margin: 5px;
  display: block;
  width: 90%;
  padding-left: 10px;
  user-select: none;
}

details h2 {
  font-family: United Sans;
  font-weight: 800;
  margin: 5px auto;
}

summary {
  list-style-type: none;
}

.dropdown-1,
.dropdown-2,
.dropdown-3,
.dropdown-4,
.dropdown-5 {
  display: block;
  border-radius: 0px 40px 0px 0px;
}

.dropdown-1 {
  background-color: #8A98B7;
}

.dropdown-1[open] {
  background-color: #8A98B7;
}

.dropdown-2 {
  background-color: #8A8CB5;
}

.dropdown-3 {
  background-color: #AF8AB5;
}

.dropdown-4 {
  background-color: #B58AA0;
}

.dropdown-5 {
  background-color: #B58A8A;
}

.dropdown-content {
  padding: 15px;
  user-select: text;
}

/* Resources Styling */

.resources-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 0px;
}

@media(max-width:1200px) {

  .resources-parent {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
}

@media(max-width:600px) {

  .resources-parent {
    grid-template-columns: repeat(1, 1fr);
  }
}

.resources-parent h2 {
  font-family: United Sans;
  font-weight: 800;
  text-align: center;
}

.resources-1,
.resources-2,
.resources-3,
.resources-4,
.resources-5,
.resources-6 {
  width: 100%;
  max-width: 310px;
  height: 310px;
  margin: 5px;
}

.resources-parent ul {
  margin: 10px;
}

.resources-parent a {
  text-decoration: none;
  color: #222;
  transition: color 0.15s ease, font-weight 0.15s ease;
}

.resources-parent a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.resources-1,
.resources-2,
.resources-3 {
  background-color: #AEBDCE;
}

.resources-4,
.resources-5,
.resources-6 {
  background-color: #85A3C1;
}

/* Meet The Team styling*/

.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  margin: 50px;
  gap: 30px;
  display: grid;
  justify-self: center;
}

@media(max-width:1200px) {
  .team-grid {
    grid-template-columns: repeat(2, 4fr);
  }
}

@media(max-width:600px) {
  .team-grid {
    grid-template-columns: repeat(1, 4fr);
  }
}

.profile {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 325px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9FA1A3;
  clip-path: circle(120px);
  width: 250px;
  height: 250px;
  filter: grayscale();
}

.name {
  margin: 5px;
}

.role {
  margin: 5px;
  font-style: italic;
}

/* Calendar Styling */

.calendar {
  display: flex;
  justify-self: center;
  box-shadow: 0px 20px 30px rgba(30, 30, 30, 0.2);
  max-width: 1000px;
  margin: 0;
  padding: 0;
}

@media(max-width: 600px) {

  .calendar {
    max-width: 320px;
  }
}