<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ page.description | default: site.description }}">
	<title>{% if page.title %}{{ page.title }} | {% endif %}University of Oregon Cybersecurity Club</title>
	<link rel="shortcut icon" href="/media/images/uoseclogo.svg" />
	<link href="/styles/styles.css" rel="stylesheet">
	<script src="/scripts/bg.js"></script>
</head>

<body>
	<!-- Head -->
	<div class="nav-bar">
		<nav>
			<ul class="navbar">
				<img class="corner-logo" src="/media/images/uoseclogo.svg">
				<li class="nav-item">
					<a class="nav-link" href="/index.html">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/ctf.html">CTF</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/links.html">Resources</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/team.html">Staff</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/calendar.html">Calendar</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/blog.html">Blog</a>
				</li>
			</ul>
		</nav>
	</div>
	<!--End head------------------------------------------------------------------>

	<article>
		<canvas id="parallaxCanvas"></canvas>
		<div class="content">
			{{ content }}
		</div>
	</article>

	<!--- Footer (used for all pages on the website) -->
	<footer>
		<div class="social-icons">
			<a href="https://www.instagram.com/uo_sec/">
				<img class="icon-1" src="/media/images/ig-icon.svg">
			</a>
			<a href="https://discord.com/invite/wn4T3byxh4">
				<img class="icon-2" src="/media/images/discord-icon.svg">
			</a>
			<a href="mailto:uosecurityclub@uoregon.edu">
				<img class="icon-3" src="/media/images/mail-icon.svg">
			</a>
		</div>
		<p>
			&copy; UOSEC 2026
		</p>
	</footer>
</body>

</html>
